
@font-face { 
	font-family: "iron-node-regular"; 
	src: url("iron-node-regular.ttf"); 
}

body{
	margin: 22px;
}


#logo{
	font-family: iron-node-regular;
	font-size: 11px;
	padding: 0;
	margin: 0;
	display: inline-block;
	border-radius: 2px;
	border: solid 1px #0D0D0D;
	background-color: #4078c0;
}

.part1{
	display: inline-block;
	padding-right: 3px;
	padding-left: 5px;
	background-color: #0D0D0D;
}
.part2{
	display: inline-block;
	color:#0D0D0D;
	padding-left: 3px;
	padding-right: 5px;
}

#home-page{
	float:right;
	margin-right: 22px;
}

#social-icons{
	display: inline-block;
	margin-right: 22px;
}
.social-share-button{
	width: 16px;
	height: 16px;
	margin-right: 3px;
}
.social-icon{
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
}
.social-icon:hover{
	box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.3);
}
.social-icon:active{
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.3);
}
.social-icon{
	border-radius: 2px;
}

article{
   	box-sizing: border-box;
	height: 100%; 
	overflow: auto;
	padding-top: 10px;
	padding-bottom: 40px;
}


footer {
	box-sizing: border-box;
	background: #DFDFDF;
	width: 100%;
	position: fixed;
	left: 0;
	bottom: 0;
	border-bottom:1px solid #A3A3A3;
	border-top:1px solid #A3A3A3;
	padding: 0;
	padding-top: 11px;
	padding-left: 11px;
	margin: 0;
}

.version-badge{
    position: absolute;
    margin-top: -1px;
    margin-left: 10px;
    box-sizing: border-box;
}